{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
          {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
          {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        <div class="menu-sz">
          {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
        </div>
    </div>
</header>

<section>
  <div class="clearfix">
    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
  </div>
</section>

<div class="main wrapper clearfix">
        <div class="clearfix homemaintext-sz-top center-sz">
              {{widget('content', 't1-header', {"content":"<h2>Lorem ipsum at</h2>"})|raw}}
              {{widget('content', 't1-content', {"content":"<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend</p>"})|raw}}
        </div>
        <div class="responsivecolumns columns-three-33-34-33 clearfix center-sz">
            <div class="column columns-three-left homemaintext-sz-ico1">
              {{widget('content', 'a1-header', {"content":"<h3>Lorem ipsum at</h3>"})|raw}}
              {{widget('content', 'a1-content', {"content":"<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend</p>"})|raw}}
              {{widget('button', 'a1-button', {text:'SHOW SITE', 'align':'widget-align-center'})|raw}}
            </div>
            <div class="column columns-three-middle homemaintext-sz-ico2">
                {{widget('content', 'a2-header', {"content":"<h3>Lorem ipsum at</h3>"})|raw}}
                {{widget('content', 'a2-content', {"content":"<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend</p>"})|raw}}              
                {{widget('button', 'a2-button', {text:'SHOW SITE', 'align':'widget-align-center'})|raw}}
            </div>
            <div class="column columns-three-right homemaintext-sz-ico3">
                {{widget('content', 'a3-header', {"content":"<h3>Lorem ipsum at</h3>"})|raw}}
                {{widget('content', 'a3-content', {"content":"<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend</p>"})|raw}}              
                {{widget('button', 'a3-button', {text:'SHOW SITE', 'align':'widget-align-center'})|raw}}
            </div>
        </div>
</div>  
<div class="wrapper clearfix">
  {{zone('main')|raw}}
</div>
<div class="clearfix sz-contact">
  <div class="wrapper clearfix">
        <div class="responsivecolumns columns-four-25-25-25-25">
            <div class="column columns-four-first f-phone">
                {{widget('profile', 'f-phone', { 'profileType':'phone', 'phone':'profile'})|raw}}                            
            </div>
            <div class="column columns-four-second f-mail">
                {{widget('profile', 'f-mail', { 'profileType':'email', 'email':'profile'})|raw}}
            </div>
            <div class="column columns-four-third f-address">
                {{widget('profile', 'f-address', { 'profileType':'address', 'address':'profile'})|raw}}
            </div>
            <div class="column columns-four-fourth f-time">
                {{widget('content', 'f-time', {content: 'pon-pt : 8:00-17:00', lines: 'all'})|raw}}
            </div>            
        </div>            
    </div>
</div>
<footer class="bk-footer sz-footer">
  <div class="wrapper clearfix sz-footer-inner">
    <div class="clearfix">
      {{widget('profile', 'f-socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
    </div>
    <div class="clearfix">  
        {{widget('profile', 'f-copyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
    </div>
  </div>
</footer>

{% endblock %}
